:root {
  box-sizing: border-box;
  background-color: #d4d3d3;
  padding: 1em;
  /* border: 3px solid green; */
}
pre {
  position: fixed;
  text-align: left;
}
.App {
  font-family: sans-serif;
  text-align: center;
  /* border: 3px solid red; */
}
.content,
.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1em;
  margin: 1em;
  border: 3px solid blue;
}

.card {
  padding: 1em;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  /* border: 3px solid black; */
  background-color: white;
  position: relative;
  min-height: 200px;
}
.card p {
  text-align: left;
}

.faded {
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}
.visible {
  opacity: 1;
}

.loading {
  opacity: 1;
  background-color: #aaa;
}
.loading::after {
  content: "";
  /* display: block; */
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
  background: linear-gradient(90deg, #ffffff, #aaaaaa, #ffffff);
  background-size: 400% 400%;
  animation: flash 3s ease infinite;
  opacity: 0.5;
}
@keyframes flash {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 25% 0%;
  }
  50% {
    background-position: 75% 0%;
  }
  100% {
    background-position: 0% 0%;
  }
}
